.box-materias {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  grid-gap: 16px;
}

.card-img-top {
  height: 120px;
  object-fit: contain;
  width: 100%;
}

.itemnew {
  background: #b3f3b3;
}